In [56]:
# Required Imports and data acquisition
import pandas as pd
from pydataset import data

df = data("tips")
df.head()

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

In [57]:
df = data("tips")
df.head()

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

In [58]:
# This example function is solved below:
def exercise0(df):
    return len(df)

assert exercise0(df) == 244
print("Exercise 0 example exercise is complete.")

Exercise 0 example exercise is complete.

####  Write a function named `exercise1`
- Use the cell below to write your code
- This function should accept a dataframe as its input argument
- This function should return the highest `total_bill` value from the tips dataframe

In [59]:
def exercise1(df):
    highest_bill = df.total_bill.sort_values().tail(1)
    return highest_bill.item()

assert exercise1(df) == 50.81
print("Exercise 1 is complete")

Exercise 1 is complete

In [60]:
## the .item() was key to assert function

####  Write a function named `exercise2`
- Use the cell below to write your code
- This function should return the number of different days in the `day` column.
- This function should accept a dataframe as its input argument.

In [61]:
def exercise2(df):
    different_days = df.day.unique()
    return len(different_days)

assert exercise2(df) == 4
print("Exercise 2 is complete")

Exercise 2 is complete

####  Write a function named `exercise3`
- Use the cell below to write your `exercise3` function definition
- This function should return the number of rows that represent "Lunch" time tables
- A "table" in this dataset is a single row, representing one bill, _not_ the number of people at that table
- This function should accept a dataframe as its input argument

In [62]:
def exercise3(df):
    

assert exercise3(df) == 68
print("Exercise 3 is correct")

IndentationError: expected an indented block (1027905918.py, line 4)

In [ ]:
lunch_tables = df.time.str.contains('lunch')

In [ ]:
lunch_tables.count()

####  Exercise 4 is a one line of pandas code, not a function
- Use the cell below to write the code necessary to rename the `size` column to `table_size` on the `df` variable.
- Remember that `.size` is a reserved word in Pandas, so it helps to rename this columns that share a reserved word
- Exercise 4 code is not a function, but should be 1 line of pandas code. 
- Be certain to update the `df` variable or mutate it accordingly, so that `df` has the new column name.

In [63]:
# Write your pandas code to rename the "size" column to "table_size"

df = df.rename(columns= {'size': 'table_size'})

assert df.columns.tolist() == ['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'table_size']
print("Exercise 4 is complete")

Exercise 4 is complete

#### Write a function named `exercise5`
- This function should return the proportion of lunch tables out of all tables
- A "table" in this dataset is a single row, representing one bill, _not_ the number of people at that table
- You can use the full decimal or choose to round to 2 decimal places. Either answer will earn credit 
- This function should accept a dataframe as its input argument

In [ ]:
def exercise5(df):
    
    
assert exercise5(df) in [0.2786885245901639, 0.28]
print("Exercise 5 is correct")