In [56]:
# Required Imports and data acquisition
import pandas as pd
from pydataset import data

df = data("tips")
df.head()

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

In [57]:
df = data("tips")
df.head()

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

In [58]:
# This example function is solved below:
def exercise0(df):
    return len(df)

assert exercise0(df) == 244
print("Exercise 0 example exercise is complete.")

Exercise 0 example exercise is complete.

####  Write a function named `exercise1`
- Use the cell below to write your code
- This function should accept a dataframe as its input argument
- This function should return the highest `total_bill` value from the tips dataframe

In [59]:
def exercise1(df):
    highest_bill = df.total_bill.sort_values().tail(1)
    return highest_bill.item()

assert exercise1(df) == 50.81
print("Exercise 1 is complete")

Exercise 1 is complete

In [60]:
## the .item() was key to assert function

####  Write a function named `exercise2`
- Use the cell below to write your code
- This function should return the number of different days in the `day` column.
- This function should accept a dataframe as its input argument.

In [61]:
def exercise2(df):
    different_days = df.day.unique()
    return len(different_days)

assert exercise2(df) == 4
print("Exercise 2 is complete")

Exercise 2 is complete

####  Write a function named `exercise3`
- Use the cell below to write your `exercise3` function definition
- This function should return the number of rows that represent "Lunch" time tables
- A "table" in this dataset is a single row, representing one bill, _not_ the number of people at that table
- This function should accept a dataframe as its input argument

In [68]:
def exercise3(df):
    lunch = df.time.str.contains('Lunch')
    return lunch.sum()

assert exercise3(df) == 68
print("Exercise 3 is correct")

Exercise 3 is correct

####  Exercise 4 is a one line of pandas code, not a function
- Use the cell below to write the code necessary to rename the `size` column to `table_size` on the `df` variable.
- Remember that `.size` is a reserved word in Pandas, so it helps to rename this columns that share a reserved word
- Exercise 4 code is not a function, but should be 1 line of pandas code. 
- Be certain to update the `df` variable or mutate it accordingly, so that `df` has the new column name.

In [63]:
# Write your pandas code to rename the "size" column to "table_size"

df = df.rename(columns= {'size': 'table_size'})

assert df.columns.tolist() == ['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'table_size']
print("Exercise 4 is complete")

Exercise 4 is complete

#### Write a function named `exercise5`
- This function should return the proportion of lunch tables out of all tables
- A "table" in this dataset is a single row, representing one bill, _not_ the number of people at that table
- You can use the full decimal or choose to round to 2 decimal places. Either answer will earn credit 
- This function should accept a dataframe as its input argument

In [69]:
def exercise5(df):
    lunch_time = df.time.str.contains("Lunch").sum()
    time_total = len(df.time)
    return lunch_time / time_total

assert exercise5(df) in [0.2786885245901639, 0.28]
print("Exercise 5 is correct")

Exercise 5 is correct

#### Exercise 6
- Write a function named `exercise6`
- This function should return the number of rows where the `total_bill` is greater than the average of all `total_bill` values.
- This function should accept a dataframe as its input argument

In [70]:
def exercise6(df):
    greater_average = (df.total_bill.mean() < df.total_bill)
    return greater_average.sum()
assert exercise6(df) == 99
print("Exercise 6 is correct")

Exercise 6 is correct

#### Exercise 7
- Write a function named `exercise7`
- This function should return the highest `total_bill` value for Thursday dinner tables (each row is a table).
- This function should accept a dataframe as its input argument

In [78]:
def exercise7(df):
    day_of = df[df.day.str.contains("Thur")]
    dinner_thur = day_of[day_of.time.str.contains("Dinner")]
    return dinner_thur.total_bill.max()

assert exercise7(df) == 18.78
print("Exercise 7 is correct")

Exercise 7 is correct

#### Exercise 8
- Write a function named `exercise8`
- This function should return the highest `total_bill` for tables on Thursday or Friday
- This function should accept a dataframe as its input argument

In [79]:
def exercise8(df):
    thurs_fri = df[df.day.str.contains("Thur","Fri")]
    return thurs_fri.total_bill.max()

assert exercise8(df) == 43.11
print("Exercise 8 is correct")

Exercise 8 is correct

#### Exercise 9
- Write a function named `exercise9`
- This function should return the average `total_bill` for tables dining on a Saturday or Sunday
- This function should accept a dataframe as its input argument

In [91]:
def exerciseA(df):
    sat_sun_bill = df[df.day.str.contains("Sat","Sun")]
    return sat_sun_bill.total_bill.mean()
#assert exercise9(df) in [20.89300613496933, 20.9]
#print("Exercise 9 is correct")

In [92]:
exerciseA(df)

20.441379310344825

In [89]:
def exercise9(df):
    dinner_list = df[df.time.str.contains('Dinner')]
    din_sat_sun = dinner_list[dinner_list.day.str.contains('Sat','Sun')]
    return din_sat_sun.total_bill.mean()

In [90]:
exercise9(df)

20.441379310344825

In [94]:
def exercise9(df):
    avg_ttl = df[(df.day =='Sun') | (df.day =='Sat')].total_bill.mean()
    return avg_ttl
assert exercise9(df) in [20.89300613496933, 20.9]
print("Exercise 9 is correct")

Exercise 9 is correct

#### Exercise 10
- Write a function named `exercise10`
- This function should take in the `prices` series as its input argument.
- This function should clean these strings and our strings with dollar signs and commas into proper floats.
- The `exercise10` function should return a series containing only floats

In [95]:
prices = pd.Series(["$1,234.56", "$2,345,678.99", "$123.45", "$3,333,333.99"])

In [96]:
def exercise10(prices):
    return prices.str.replace('$',"").str.replace(",","").astype(float)
assert exercise10(prices).values.tolist() == [1234.56, 2345678.99, 123.45, 3333333.99]
print("Exercise 10 is correct.")

Exercise 10 is correct.

/var/folders/hb/h75yrttj2jx98ftlw744r4hm0000gn/T/ipykernel_60132/694051482.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  return prices.str.replace('$',"").str.replace(",","").astype(float)